<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.webaite.test.SmokeTest"/>
      <class name="com.website.base.BaseFram"/>
      <class name="com.webaite.test.DataDrivenTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
